<footer>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div class="footer-top">
            <div class="footer-icons">
                <nav>
                    <ul>
                        <li class="footer-media"><a href="https://www.instagram.com/?hl=en"><i class="fa-brands fa-instagram"></i></a></li>
                        <li class="footer-media"><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                        <li class="footer-media"><a href="https://twitter.com/?lang=en"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-middle">
            <div class="primera-columna">
                <p>Beneficios</p>
                <p>Términos y condiciones</p>
                <p>Política de privacidad</p>
            </div>
            <div class="segunda-columna">
                <p><strong>Contacto</strong></p>
                <p>Teléfono</p>
                <p>Mail</p>
                <p>Dirección</p>
            </div>
            <div class="tercera-columna">
                <p><strong>Marcas</strong></p>
                <p>Samsung</p>
                <p>Apple</p>
                <p>Xiaomi</p>
            </div>
            <div class="cuarta-columna">
                <p><strong>Información</strong></p>
                <p>Como comprar</p>
                <p>Pago y envio</p>
                <p>FAQS</p>
            </div>
        </div>
        <div class="footer-bottom">
            <img src="images/LogoIkarosPhonesenbaja.png" alt="Titulo phone Titulo" class="footer-img">
            <p>Argentina 2022 Ikaro'sPhone - Todos los derechos reservados</p>
        </div>
</footer>
