   <header>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <div class="top-header">

                <div class="bars-icon">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div class="icons-left">
                    <img class="logo" src="/images/LogoIkarosPhonesenbaja.png" alt="Logo de Ikaro's Phones">
                    <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <h4 class="texto">Estás en Capital Federal</h4>
                    </div>
                </div>

                <div class="nav-top">
                    <nav>
                        <ul>
                            <li><a href="../products">Promociones</a></li>
                            <li><a href="../products">Catalogo</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="icons-right">
                    <div class="searcher">
                        <input type="text" placeholder="Buscar">
                        <i class="fa fa-search"></i>
                    </div>
                    <div><a href="../login"><i class="fa-regular fa-user"></i></a></div>
                    <div><a href="../productCart"><i class="fa-solid fa-bag-shopping"></i></a></div>           
                </div>

            </div>

        </header>

        <div class="menu-side">
            <div class="options-menu">
                <a href="#">
                    <div class="option">
                        <h4>Buscar</h4>
                    </div>
                </a>
                <a href="../products">
                    <div class="option">
                        <h4>Promociones</h4>
                    </div>  
                </a>
                <a href="../products">
                    <div class="option">
                        <h4>Catalogo</h4>
                    </div>
                </a>
                <a href="../login">
                    <div class="option">
                        <h4>Iniciar sesión</h4>
                    </div>
                </a>
                <a href="../productCart">
                    <div class="option">
                        <h4>Mi carrito</h4>
                    </div>
                </a>
                <a href="#">
                    <div class="option">
                        <h4>Ayuda</h4>
                    </div>
                </a>
            </div>
        </div>
        
        