<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ikaro's Phones</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/stylesIndex.css">
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    </head>
    <body><header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/LogoIkarosPhonesenbaja.jpeg" alt="Logo de Ikaro's Phones">
                </div>
                <div class="ubicacion">
                    <i class="fa-solid fa-location-dot"></i>
                    <h4>Estás en Capital Federal</h4>
                </div>
            </div>
            <nav>
                <ul class="primer">
                    <li><a href="#">Promociones</a></li>
                    <li><a href="#">Catalogo</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <div class="iconos-derecha">
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <i class="fa-regular fa-user"></i>
                <i class="fa-solid fa-bag-shopping"></i>            
            </div>
        </header>

        <main>

        </main>

        <footer>

        </footer>
    </body>