<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <enlace href="https: //fonts.googleapis.com/css2? family= Poppins:wght@300 & family= Roboto:wght@300 & display=swap" rel="hoja de estilo"></enlace>
    
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/stylesIndex.css">

    </head>

    <body>
        <header>
            <div class="top-header">

                <div class="icons-left">
                    <img class="logo" src="images/LogoIkarosPhonesenbaja.png" alt="Logo de Ikaro's Phones">
                    <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <h4>Estás en Capital Federal</h4>
                    </div>
                </div>

                <div class="nav-top">
                    <nav >
                        <ul>
                            <li><a href="#">Promociones</a></li>
                            <li><a href="#">Catalogo</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="icons-right">
                    <div><i class="fa fa-search"></i></div>
                    <div><i class="fa-regular fa-user"></i> </div>
                    <div><i class="fa-solid fa-bag-shopping"></i> </div>           
                </div>

            </div>
        </header>

        <img class="banner" src="images/banner.png">

        <main>

        </main>

        <footer>

        </footer>
    </body>