<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <enlace href="https: //fonts.googleapis.com/css2? family= Poppins:wght@300 & family= Roboto:wght@300 & display=swap" rel="hoja de estilo"></enlace>
    
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/stylesIndex.css">

    </head>

    <body>
        <header>
            <div class="top-header">

                <div class="icons-left">
                    <img class="logo" src="images/LogoIkarosPhonesenbaja.png" alt="Logo de Ikaro's Phones">
                    <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <h4>Estás en Capital Federal</h4>
                    </div>
                </div>

                <div class="nav-top">
                    <nav >
                        <ul>
                            <li><a href="#">Promociones</a></li>
                            <li><a href="#">Catalogo</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="icons-right">
                    <div class="searcher">
                        <input type="text" placeholder="Buscar">
                        <i class="fa fa-search"></i>
                    </div>
                    <div><a href="./login.html"><i class="fa-regular fa-user"></i></a></div>
                    <div><a href="./productCart.html"><i class="fa-solid fa-bag-shopping"></i></a></div>           
                </div>

            </div>
        </header>

        <div class="slide">
			<div class="slide-inner">
				<input class="slide-open" type="radio" id="slide-1" 
			 	     name="slide" aria-hidden="true" hidden="" checked="checked">
				<div class="slide-item">
					<img src="./images/banner.png">
				</div>
				<input class="slide-open" type="radio" id="slide-2" 
			 	     name="slide" aria-hidden="true" hidden="">
				<div class="slide-item">
					<img src="./images/phonesbanner.jpeg">
				</div>
				<input class="slide-open" type="radio" id="slide-3" 
			 	     name="slide" aria-hidden="true" hidden="">
				<div class="slide-item">
					<img src="./images/iphones.webp">
				</div>
				<label for="slide-3" class="slide-control prev control-1">‹</label>
				<label for="slide-2" class="slide-control next control-1">›</label>
				<label for="slide-1" class="slide-control prev control-2">‹</label>
				<label for="slide-3" class="slide-control next control-2">›</label>
				<label for="slide-2" class="slide-control prev control-3">‹</label>
				<label for="slide-1" class="slide-control next control-3">›</label>
				<ol class="slide-indicador">
					<li>
						<label for="slide-1" class="slide-circulo">•</label>
					</li>
					<li>
						<label for="slide-2" class="slide-circulo">•</label>
					</li>
					<li>
						<label for="slide-3" class="slide-circulo">•</label>
					</li>
				</ol>
			</div>
		</div>

        <div>
            <nav>
                <ul>
                    <li><a href="#">Envios gratis</a></li>
                    <li><a href="#">Hasta en 16 cuotas sin interes en productos selecionados</a></li>
                    <li><a href="#">Compra protegido, tenes devoluciones gratis</a></li>
                </ul>
            </nav>
        </div>

        <main>

            <section class="last-visit">
                <h3>Smartphones</h3>
                <div class="products">
                    <article>
                        <h4 class="description">Titulo phone Titulo</h4>
                        <img src="images/LogoIkarosPhonesenbaja.png" alt="Titulo phone Titulo" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                    </article>
                    <article>
                        <h4 class="description">Titulo phone Titulo</h4>
                        <img src="images/LogoIkarosPhonesenbaja.png" alt="Titulo phone Titulo" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                    </article>
                    <article>
                        <h4 class="description">Titulo phone Titulo</h4>
                        <img src="images/LogoIkarosPhonesenbaja.png" alt="Titulo phone Titulo" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                    </article>
                    <article>
                        <h4 class="description">Titulo phone Titulo</h4>
                        <img src="images/LogoIkarosPhonesenbaja.png" alt="Titulo phone Titulo" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="products">
                    <article>
                        <h4 class="description">Titulo phone Titulo</h4>
                        <img src="images/LogoIkarosPhonesenbaja.png" alt="Titulo phone Titulo" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                    </article>
                    <article>
                        <h4 class="description">Titulo phone Titulo</h4>
                        <img src="images/LogoIkarosPhonesenbaja.png" alt="Titulo phone Titulo" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                    </article>
                    <article>
                        <h4 class="description">Titulo phone Titulo</h4>
                        <img src="images/LogoIkarosPhonesenbaja.png" alt="Titulo phone Titulo" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                    </article>
                    <article>
                        <h4 class="description">Titulo phone Titulo</h4>
                        <img src="images/LogoIkarosPhonesenbaja.png" alt="Titulo phone Titulo" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                    </article>
                </div>  
            </section>

        </main>

        <footer>

        </footer>
    </body>
</html>