<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Register Ikaro's Phones</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/stylesRegister.css">
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="top-header">
                
                <div class="icons-left">
                    <img class="logo" src="images/LogoIkarosPhonesenbaja.png" alt="Logo de Ikaro's Phones">
                    <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <h4>Estás en Capital Federal</h4>
                    </div>
                </div>

                <div class="nav-top">
                    <nav>
                        <ul>
                            <li><a href="#">Promociones</a></li>
                            <li><a href="#">Catalogo</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="icons-right">
                    <div class="searcher">
                        <input type="text" placeholder="Buscar">
                        <i class="fa fa-search"></i>
                    </div>
                    <div><a href="./login.html"><i class="fa-regular fa-user"></i></a></div>
                    <div><a href="./productCart.html"><i class="fa-solid fa-bag-shopping"></i></a></div>           
                </div>

            </div>
        </header>
        <main>
            

        </main>

        <footer>
            
        </footer>
    </body>
</html>