/* HEADER PRINCIPIO */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #dcdcdc  !important;
}
.top-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: #302e2e;
}
.logo {
    width: 35%;
    height: auto;
    position: relative;
    right: -40%;
}
.icons-left{
    display: flex;
    justify-content: center;
    width: 50%;
}
.icons-left-text{
    display: none;
}
.nav-top{
    display: none;
}
.icons-right{
    display: none;
}
.bottom-var{
    display: none;
}
.searcher{
    padding: 5px;
}
.searcher input{
    font-family: 'Poppins', sans-serif;
    width: 0px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: 0px;
    transition: all 0.6s ease;
}
.searcher:hover input{
    width: 240px;
}
.searcher input:focus{
    width: 240px;
}

/* barra desplegable movile */
.nav-main{
    display: block;
    position: relative;
}
.nav-main a{
    color: white;
}
.btn-bars-icon{
    position: relative;
    --size: 25px;
    width: var(--size);
    height: var(--size);
    padding: 0px 40px;
    transition: transform 5s;
}
.icon{
    display: block;
    width: 60%;
    height: 2px;
    background-color: white;
    margin: 6px;
    transition: transform 0.5s;
}
.btn-bars:checked + .btn-bars-icon .icon.one{
    transform: translateY(0.5em) rotate(45deg);
}
.btn-bars:checked + .btn-bars-icon .icon.two{
    transform: scale(0);
}
.btn-bars:checked + .btn-bars-icon .icon.three{
    transform: translateY(-0.5em) rotate(-45deg);
}
.btn-bars{
    display: none;
}
.btn-nav-main{
    position: relative;
}
.btn-bars:checked ~ .btn-bars-icon  {
    right: -350%;
    top: -20%;
    z-index: 10;
}
.nav-main-menu{
    position: absolute;
    left: -87%;
    top: -15%;
    padding: 20px 110px 80px 10px;
    display: flex;
    flex-direction: column;
    background-color: #ff4621be;
    transform: scaleY(0);
    transition: transform 0.5s;
    transform-origin: top;
}
.btn-bars:checked:checked ~ .nav-main-menu{
    transform: scaleY(1);
}
.nav-main-menu a{
    padding-bottom: 30px;
    color: white;
    font-size: 20px;
}

/* fin barra desplegable movile */
/* HEADER FIN */

/*MAIN CARRITO*/
main{
    width: 100%;
    margin: 25% auto;
    position: relative;
}
h1{
    font-size: 30px;
    text-align: start;
    margin-bottom: 20px;
    font-weight: 400;
    color: #424242;
    padding: 0 10px;
}
.add-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    background-color: #1868d98e;
    padding: 10px 10px;
}
.fa-solid.fa-circle-check{
    color: #302e2e;
    padding-right: 10px;
}
h4.add{
    font-size: 12px;
}
.items{
    display: none;
}
.cart-detail{
    display: flex;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
img{
    width: 25%;
}
.name{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: #302e2e;
}
.detail{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45%;
    left: 30%;
    color: #302e2e;
}
.price, .cant{
    font-size: 12px;
    padding-bottom: 10px;
}
.cart-sumary{
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.sumary-title{
    color:  #ff4621;
    padding: 10px;
    border-bottom: 1px solid #B6B6B6;
}
.subtotal{
    padding: 10px;
}
.tax{
    padding: 10px;
}
.total{
    padding: 10px 10px 0px 10px;
    border-top: 1px solid #B6B6B6;
}
.btn{
    margin: 20px 70px;
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color:#1868d9;
    border: #1868d9;
}
/*FIN MAIN CARRITO*/


/* FOOTER PRINCIPIO */
footer{
    height: 100%;
}
.footer-top{
    margin-top: 30px;
    background-color: #302e2e;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}
.fa-brands.fa-instagram, 
.fa-brands.fa-facebook, 
.fa-brands.fa-twitter{
    border-radius: 100%;
    border: 1px solid;
    outline: none;
    padding: 5px;
}
.footer-middle{
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.primera-columna p{
    margin: 30px;
    font-size: 15px;
}

.tercera-columna p, .segunda-columna p, .cuarta-columna p{
    margin: 22px;
    font-size: 15px;
}

.primera-columna, .tercera-columna, .segunda-columna, .cuarta-columna{
    width: 100%;
}

.footer-bottom{
    width: 100%;
    height: 30px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 0px;
    background-color: #B6B6B6;
}

.footer-bottom p{
    color: #302e2e;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 15px;
}

.footer-bottom img{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 20px;
}

.footer-img{
    height: 80%;
    width: 30px;
}
/* FOOTER FIN */

/* MEDIA QUERIES PRINCIPIO */
@media (min-width: 760px){
    .nav-main{
        display: none;
    }
    .logo {
        width: 30%;
        position: relative;
        right: 25%;
    }
    .icons-left-text{
        display: block;
        position: absolute;
        bottom: 35%;
        right: 75%;
    }
    .location{
        display: flex;
        color: #fbfbfb;
        align-self: center;
        font-size: 6px
    }
    .location-2{
        display: flex;
        font-size: 12px;
        color: #fbfbfb;
    }
    .nav-top{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
    }
    .nav-top a{
        font-size: 12px;
    }
    nav a{
        color: #F5F5DC;
        padding: 10px 20px;
        font-size: 16px;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
    }
    .icons-right{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fbfbfb;
        font-size: 12px;
        width: 50%;
    }
    .icons-left, .icons-right{
        width: 25%;
    }
    .icons-right div a{
        color: #fbfbfb;
    }
    .bars-icon{
        display: none;
    }
    /*fin header*/

    /*BOTTOM var inicio*/
    .bottom-var{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: rgb(161, 161, 161);
        padding: 25px 15px;
        margin: auto;
        text-align: center;
    }
    .var li{
        width: 30%;
    }
    .var a{
        color: black;
        font-size: 12px;
    }
    .var{
        display: flex;
        justify-content: center;
        list-style: none;
    }
     /*BOTTOM var fin*/

    .primera-columna, 
    .tercera-columna, 
    .segunda-columna, 
    .cuarta-columna{
        width: 22%;
    }

    .var-no-mobile-2{
        display: block;
    }

    .var-no-mobile-1, .var-no-mobile-2, .var-no-mobile-3{
        width: 100%;
    }
    .pay:hover{
        cursor: pointer;
        background-color: #B6B6B6;
    }

/* MEDIA QUERIES FIN */
}
@media(min-width: 1200px){
    .logo {
        width: 20%;
        left: 8%;
    }
    .icons-left-text{
        bottom: 35%;
        right: 81%;
    }
    .location{
        font-size: 10px
    }
    .location-2{
        font-size: 14px;
    }
    .nav-top{
        padding-left: 60px;
    }
    .nav-top a{
        font-size: 14px;
        padding-right: 60px;
    }
    .icons-left, .icons-right{
        width: 30%;
    }
    .icons-left{
        margin-left: -12%;
        margin-right: 8%;
    }
    .slide {
        margin-top: 79px;
    }
    /*bottom var inicio*/
    
    .var a{
        font-size: 14px;
        margin: 0 60px;
    }
    h3{
        font-size: 20px;
        padding: 10px;
    }
    /*bottom var fin*/
    div.article{
        display: contents;
        background-color:#dcdcdc; 
        margin-bottom: 0px;
        width: 100%;
    }
    main section article {
        display: flex;
        margin: 10px 10px 10px 10px;
        width: 25%;
    }
}

/* MEDIA QUERIES FIN */