/* HEADER PRINCIPIO */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #dcdcdc !important;
}
.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: #302e2e;
    padding: 10px 0 10px;
}
.icons-left{
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
}
.icons-right{
    display: none;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    color: #F5F5DC;
}
.icons-right div a{
    color: #F5F5DC;
}
.logo {
    width: 15%;
}
.location{
    display: none;
    color: #F5F5DC;
    font-size: 12px;
    align-self: center;
    margin-left: 10px;
}
.searcher{
    padding: 5px;
}
.searcher input{
    font-family: 'Poppins', sans-serif;
    width: 0px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: 0px;
    transition: all 0.6s ease;
}
.searcher:hover input{
    width: 240px;
}
.searcher input:focus{
    width: 240px;
}
.nav-top{
    width: 30%;
    justify-content: space-around;
    align-items: center;
    display: none;
}
nav a{
    text-decoration: none;
    color: #F5F5DC;
    padding: 10px 20px;
    font-size: 16px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
img.banner{
    width: 100vwgit ;
}
header .form .input{
    color: #F5F5DC;
}
.bars{
    display: block;
    color:  #ebebeb;
    padding: 8px 0 0;
    text-align: center;
}
/* HEADER FIN */

/* MAIN PRINCIPIO */
    main{
        padding-top: 5%;
    }
    .producto{
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 3%;
        background-color: white;
        border-radius: 15px;
        align-items: center;
    }
    .product-img-container{
        margin-top: 3%;
        margin-left: 3%;
        text-align: center;
        width: 30%;
        padding: 10px;
    }
    .detalles-producto{
        padding: 5%;
        margin: 47px 20px 10px 5px;
        color: #302e2e;

    }
    .telefono-producto{
        font-size: 30px;
        margin-bottom: 7px;
        color: #f84525;
    }
    .price{
        font-size: 25px;
        margin-bottom: 10px;
        color: #2b15d1;
    }
    .nombre-producto{
        margin-top: 30px;
        border-bottom: 1px solid #302e2e;
        margin-bottom: 20px;
        padding-bottom: 30px;
    }
    .detalle-producto{
        margin-bottom: 30px;
    }
    .detalle{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .fa-solid.fa-gear,
    .fa-solid.fa-sd-card,
    .fa-solid.fa-mobile-screen{
        background-color: #1868d9;
        color: white;
        border-radius: 20px;
        padding: 8px 10px;
        margin-right: 7px;
    }
    .boton-comprar-producto{
       text-align: center;
       color: white;
       background-color: #f84525;
       padding: 8px 0px;
       margin: 0 30%;
       border-radius: 20px;
    }
    .specs{
        width: 100%;
        margin: auto;
        background-color: white;
        color: #302e2e;
    }
    .specs h3{
        padding: 20px 40px 30px;
        color: #f84525;
        font-size: 20px;
    }
    .text-detail{
        padding: 30px 40px 10px;
    }
    .specs-product{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    div.pantalla, .camara, .almacenamiento{
        width: 20%;
        padding: 20px 100px 20px 20px;
        margin: 10px 20px 10px;
        border-radius: 10px;
    }
    div.pantalla{
        background-color: #f82533;
    }
    div.camara{
        background-color: #ffa229;
    }
    div.almacenamiento{
        background-color: #f84525;
    }
    .specs-product p{
        padding: 13px 0 13px;
        color: white;
        text-align: left;
    }
    .specs h4{
        text-align: center;
        padding: 30px 0 10px;
    }
    .video{
        text-align: center;
        margin-top: 30px;
    }

/* MAIN FIN */

/* FOOTER PRINCIPIO */
footer{
    width: 100%;
}
.footer-top{
    margin-top: 30px;
    background-color: #302e2e;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}
.fa-brands.fa-instagram, 
.fa-brands.fa-facebook, 
.fa-brands.fa-twitter{
    border-radius: 100%;
    border: 1px solid;
    outline: none;
    padding: 5px;
}
.footer-middle{
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.primera-columna p{
    margin: 30px;
    font-size: 15px;
}
.tercera-columna p, 
.segunda-columna p, 
.cuarta-columna p{
    margin: 22px;
    font-size: 15px;
}
.primera-columna, .tercera-columna, .segunda-columna, .cuarta-columna{
    width: 100%;
}
.footer-bottom{
    width: 100%;
    height: 30px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 0px;
    background-color: #B6B6B6;
}
.footer-bottom p{
    color: #302e2e;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 15px;
}
.footer-bottom img{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 20px;
}
.footer-img{
    height: 80%;
    width: 30px;
}
/* FOOTER FIN */

@media (min-width:360px){
    /*INICIO HEADER*/
    .icons-left{
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
    .logo {
        width: 20%;
        position: relative;
        left: -5px;
    }
    .location{
        display: none;
    }
    /*FIN HEADER*/
    
    .bottom-var{
        display: none;
    }
   
  .primera-columna, 
  .tercera-columna, 
  .segunda-columna, 
  .cuarta-columna{
    width: 45%;
    }
}
@media (min-width: 760px){
    .bars{
        display: none;
    }
    a.bars i{
        font-size: 25px;
    }
    .var li{
        width: 30%;
    }
    .var a{
        color: black;
        font-size: 12px;
    }
    .var{
        display: flex;
        justify-content: center;
        list-style: none;
    }
    .primera-columna, .tercera-columna, .segunda-columna, .cuarta-columna{
        width: 22%;
    }

    .producto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .product-img{
        margin-top: auto;
        width: 23vmax;
        height: 30vmax;
    }
    .nombre-producto{
        margin-top: auto;
    }
}
@media(min-width: 1200px){
    .logo {
        width: 15%;
    }
    .location{
        display: flex;
        color: #F5F5DC;
        font-size: 12px;
        align-self: center;
        margin-left: 10px;
    }
    .nav-top{
        display: flex;
    }
    .nav-top a{
        font-size: 14px;
    }
    .icons-right{
        display: flex;
        font-size: 14px;
    }
    .icons-left, .icons-right{
        width: 30%;
    }
    .icons-left{
        margin-left: -100px;
        margin-right: 100px;
    }
    .slide {
        margin-top: 79px;
    }
    /*bottom var inicio*/
    
    .var a{
        font-size: 14px;
        margin: 0 60px;
    }
    /*bottom var fin*/
    div.article{
        display: contents;
        background-color:#dcdcdc; 
        margin-bottom: 0px;
        width: 100%;
    }
    main section article {
        display: flex;
        margin: 10px 10px 10px 10px;
        width: 25%;
    }
}

/* MEDIA QUERIES FIN */