/* HEADER PRINCIPIO */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #dcdcdc  !important;
}
.top-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: #302e2e;
    padding: 10px 0 10px;
}
.icons-left{
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
}
.icons-right{
    display: none;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    color: #F5F5DC;
}
.icons-right div a{
    color: #F5F5DC;
}
.logo {
    width: 15%;
}
.location{
    display: none;
    color: #F5F5DC;
    font-size: 12px;
    align-self: center;
    margin-left: 10px;
}
.searcher{
    padding: 5px;
}
.searcher input{
    font-family: 'Poppins', sans-serif;
    width: 0px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: 0px;
    transition: all 0.6s ease;
}
.searcher:hover input{
    width: 240px;
}
.searcher input:focus{
    width: 240px;
}
.nav-top{
    width: 30%;
    justify-content: space-around;
    align-items: center;
    display: none;
}
nav a{
    color: #F5F5DC;
    padding: 10px 20px;
    font-size: 16px;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
img.banner{
    width: 100vwgit ;
}
header .form .input{
    color: #F5F5DC;
}
/* barra desplegable movile */
div.bars-icon label i{
    font-size: 23px;
}
.bars-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #ebebeb;
    text-align: center;
}
.menu-side{
    width: 100%;
    height: 70%;
    left: 0;
    font-size: 20px;
    position: absolute;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.8);
}
.options-menu{
    padding: 20px 30px;
    position: relative;
}
.options-menu a{
    color: #aaaaaa;
    display: block;
    padding: 20px;
    position: relative;
}
.options-menu.option{
    position: relative;
}
h4{
    font-weight: 400;
}

/* barra desplegable movile */
/* HEADER FIN */

/* BANNER PRINCIPIO */
.slide {
    display: none;
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 50px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    position: absolute;
    bottom: 0%;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}
.bannerCel{
    margin-top: 16%;
}
.imgCel{
    width: 100%;
}
/* BANNER FIN */

/* MAIN PRINCIPIO */

main{
    width: 90%;
    margin: 0 auto;
}
h3{
    font-size: 15px;
    color: #666;
    margin: 20px 0px;
    text-align: center;
    font-weight: 400;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.article{
    background-color: white;   
    margin-bottom: 10px;
}
main section article{
    position: relative;  
    margin: 10px 30px 10px 10px;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
}
main section article img{
    width: 100%;
}
.name{
    display: flex;
    width: 100%;
    padding: 8px 10px 10px 10px;
    position: absolute;
    left: 140px;
    color: #666;
    font-size: 15px;
    font-weight: 400;
}
div.box-description{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 0 10px;
    right: -130px;
    top: 40px;
}
p.price {
    font-size: 20px;
    display: inline-block;
    margin: 17px 0 7px 10px;
    color: #302e2e;
}
p.discount {
    display: inline-block;
    margin: 0px 0 7px 10px;
    color: #ff4621;
    font-size: 10px;
}
p.description{
    margin: 0px 0 7px 10px;
    color: #302e2e;
    font-size: 12px;
}
/* MAIN FIN */

/* FOOTER PRINCIPIO */
footer{
    width: 100%;
}
.footer-top{
    margin-top: 30px;
    background-color: #302e2e;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}
.fa-brands.fa-instagram, 
.fa-brands.fa-facebook, 
.fa-brands.fa-twitter{
    border-radius: 100%;
    border: 1px solid;
    outline: none;
    padding: 5px;
}
.footer-middle{
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.primera-columna p{
    margin: 30px;
    font-size: 15px;
}

.tercera-columna p, .segunda-columna p, .cuarta-columna p{
    margin: 22px;
    font-size: 15px;
}

.primera-columna, .tercera-columna, .segunda-columna, .cuarta-columna{
    width: 100%;
}

.footer-bottom{
    width: 100%;
    height: 30px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 0px;
    background-color: #B6B6B6;
}

.footer-bottom p{
    color: #302e2e;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 15px;
}

.footer-bottom img{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 20px;
}
.footer-img{
    height: 80%;
    width: 30px;
}

/* FOOTER FIN */

/* MEDIA QUERIES PRINCIPIO */

@media (min-width: 360px){
    /*INICIO HEADER*/
    .icons-left{
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
    .logo {
        width: 20%;
        position: relative;
        left: -5px;
    }
    .location{
        display: none;
    }
    /*FIN HEADER*/

    .bottom-var{
        display: none;
    }

    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}
@media(min-width: 760px){
    .bars{
        display: none;
    }
    /*fin header*/
    
    .slide{
        display: block;
    }
    .bannerCel{
        display: none;
    }
    /*BOTTOM var inicio*/
    .bottom-var{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: rgb(161, 161, 161);
        padding: 25px 15px;
        margin: auto;
        text-align: center;
    }
    .var li{
        width: 30%;
    }
    .var a{
        color: black;
        font-size: 12px;
    }
    .var{
        display: flex;
        justify-content: center;
        list-style: none;
    }
    /*BOTTOM var fin*/
    
    div.article{
        background-color:#dcdcdc; 
        margin-bottom: 0px;
        width: 50%;
    }
    main section article{
        background-color: white;    
        margin: 10px 10px 10px 10px;
        width: 80%;
    }
    main section article img{
        width: 100%;
    }
    .name{
        display: block;
        padding: 0px;
        margin-top: 10px;
        position: relative;
        left: 0px;
        margin-bottom: 15px;
        text-align: center;
        color: #666;
        font-size: 20px;
        font-weight: 400;
    }
    div.box-description{
        display: block;
        position: relative;
        border-top: 1px solid #ebebeb;
        padding: 20px 25px;
        right: 0px;
        top: 0px;
    }
    p{
        margin: 0;
    }
    p.price {
        font-size: 18px;
    }
    p.discount {
        font-size: 13px;
    }
    p.description{
        margin-left: 0px;
        text-align: center;
        font-size: 14px;
    }

    h3{
        font-size: 24px;
        color: #666;
        margin: 20px 0px;
        text-align: center;
    }
    .primera-columna, .tercera-columna, .segunda-columna, .cuarta-columna{
        width: 22%;
    }
}

@media(min-width: 1200px){
    .logo {
        width: 15%;
    }
    .location{
        display: flex;
        color: #F5F5DC;
        font-size: 12px;
        align-self: center;
        margin-left: 10px;
    }
    .nav-top{
        display: flex;
    }
    .nav-top a{
        font-size: 14px;
    }
    .icons-right{
        display: flex;
        font-size: 14px;
    }
    .icons-left, .icons-right{
        width: 30%;
    }
    .icons-left{
        margin-left: -100px;
        margin-right: 100px;
    }
    .slide {
        margin-top: 79px;
    }
    /*bottom var inicio*/
    
    .var a{
        font-size: 14px;
        margin: 0 60px;
    }
    /*bottom var fin*/
    div.article{
        display: contents;
        background-color:#dcdcdc; 
        margin-bottom: 0px;
        width: 100%;
    }
    main section article {
        display: flex;
        margin: 10px 10px 10px 10px;
        width: 25%;
    }
}

/* MEDIA QUERIES FIN */