/*
Background-color:
Header: #302e2e
Main: barra de envio gratis: #4D4D4D, fondo del cuerpo: #ebebeb.
Footer: fondo del cuerpo #ebebeb, barra de redes sociales: #302e2e.

Color:
Texto de la página: #222222
Precio productos: #ff4621
Boton comprar: #ff4621
Letra e iconos del Header: #F5F5DC

Tipografia:
Poppins by Indian Type Foundry Light 300.
*/

/* HEADER PRINCIPIO */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #302e2e;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    font-size: 16px;
    width: 100%;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icons-left{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 30%;
    left: -50px;
}
.searcher{
    position: absolute;
    padding: 5px;
}
.searcher input{
    font-family: 'Poppins', sans-serif;
    width: 0px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: 0px;
    transition: all 0.6s ease;
}
.searcher:hover input{
    width: 240px;
}
.searcher input:focus{
    width: 240px;
}
.logo{
    width: 20%;
    display: flex;
    
    flex-wrap: wrap;
}

.location{
    display: flex;
    position: absolute;
    bottom: -20px;
    color: #F5F5DC;
    font-size: 12px;
    margin-bottom: 15px;
}

.nav-top{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

nav a{
    text-decoration: none;
    color: #F5F5DC;
    padding: 10px 20px;
    font-size: 16px;
}

nav ul{
    display: flex;
    list-style: none;
}

.icons-right{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F5F5DC;
}

.icons-right div a{
    color: #F5F5DC;
}

img.banner{
    width: 100vwgit ;
}

header .form .input{
    color: #F5F5DC;
}

/* HEADER FIN */

/* BANNER PRINCIPIO */

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

/* BANNER FIN */

/*bottom var inicio*/

div.bottom-var{
    width: 100%;
    background-color: rgb(161, 161, 161);
    padding: 35px 20px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.var a{
    color: black;
    padding: 40px;
}

/* MAIN PRINCIPIO */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ebebeb !important;
}

.price{
    font-size: 18px;
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

main{
    width: 90%;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

.main-article {
    position: relative;
}

main section article i,
.discount{
    color: #ff4621;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #ff4621;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 25px;
}

p.price {
    font-size: 18px;
    display: inline-block;
    margin-left: 12px;
}

p.discount {
    font-size: 16px;
    display: inline-block;
    margin-left: 8px;
}

/* MAIN FIN */

/* FOOTER PRINCIPIO */

.footer-top{
    margin-top: 30px;
    background-color: #302e2e;
    width: 100%;
    height: 80px;
}

/* FOOTER FIN */

/* MEDIA QUERIES PRINCIPIO */

@media (min-width: 480px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    article {
        width: 45%;
    }
}

@media (min-width: 769px){
    article{
        width: 22%;
    }

    .nav-top{
        display: inline-flex;
    }

}

/* MEDIA QUERIES FIN */