<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Ikaro's Phones</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/stylesLogin.css">
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('../partials/header'); %>

        <main>
            <form  action="/" method="POST" class="formulario">
                <h2> Ingresar con mi cuenta </h2>
                <input type="email" placeholder="example@gmail.com" class="email" required>  </input>
                <div class="contenedor">
                    <input type="password" placeholder="Contraseña" class="contraseña" required> </input>
                    <img src="/images/Show.png" alt="" class="icon" id="Eye">
                </div>
                <a href=""> Olvidé mi contraseña </a>
                <button type="submit" class="boton" >I n g r e s a r</button>
            </form>
            <div class="login-foot">
                <p>¿No tiene una cuenta?</p>
                <a href="./register.html">Registrarse</a>
            </div>
            <div class="footer-main">
                <a href=""> Condiciones de uso </a>
                <a href=""> Aviso de privacidad </a>
                <a href=""> Ayuda </a>
            </div>
        </main>

        <footer>
            <%- include ("../partials/footer")  %> 
        </footer>
    </body>
</html>